@use "../../styles/buttons.scss" as button;
@use "../../styles/variables.scss" as vars;

.layout-container {
  min-height: vars.$sidebar-min-height;
}

.layout-sidebar {
  transition: width 0.3s ease;
  background-color: #f5f5f5;
  width: 300px;
  padding: 1rem;
  overflow: hidden;
  margin-right: 20px;
  background-color: darkkhaki;
}

.layout-sidebar.collapsed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.menu-header {
  margin-top: 3px;
  margin-right: 85px;
  font-size: 30px;
  color: black;
}

.menu-list {
  list-style: none;
  padding: 0;
  font-size: 30px;
  color: black;
}

.collapse-btn {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  height: 50px;
  width: 50px;
  color: #363636;
  font-size: 50px;

  &:hover {
    background-color: button.$sidebarbtnColor;
  }
}

.label-btn {
  &:hover {
    background-color: button.$sidebarbtnColor;
  }
}

.sidebar-btn {
  padding: 10px;
  &:hover {
    background-color: button.$sidebarbtnColor;
  }
}

.collapsed-sidebar-btn {
  text-align: center;
}

.expanded-sidebar-btn {
  padding-left: 1rem;
}

.collapsed-menu {
  color: black;
}

.layout-sidebar {
  transition: width 0.3s ease;
}

.collapsed {
  width: 4rem; // or whatever width you want for collapsed state
}
